*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
tethysapp/hiwatnp/vhiwatnp/node_modules
build/
dist/
tethysapp/hiwatnp/workspaces/app_workspace/MapImage/
tethysapp/hiwatnp/__pycache__/